.mi-link {
    margin-left: 1em;
    font-size: 1.5em;
}

.mi-nav {
    margin: 2%;
}

.mi-card {
    margin: 2%;
}

hr {
    margin-left: 2%;
    margin-right: 2%;
}

.mi-section {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}

.comment-card{
    margin-top: 2%;
    margin-bottom: 2%;
}

.comment-card-inner{
    display: flex;
    flex-direction: column;
}

.no-comments{
    color: #546e7a;
    margin-top: 2%;
    margin-bottom: 2%;
}