.mi-header {
    margin: 2%;
    padding: 0.5%;
    border-radius: 8px;
    background-color: #EEEEEE;
    color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.mi-table {
    margin-right: 2%;
    margin-left: 2%;
}

.mi-btn {
    margin-left: 2%;
}