<!DOCTYPE html>
<html lang="es">

<head>
    <title>SpBoot - Library</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () {
        $('body').bootstrapMaterialDesign();
    });</script>
</head>
<body>

<header class="mi-header">
    <h1>Tecnicas de Servicios de Internet</h1>
    <h1>SpringBoot - Library</h1>
</header>

<main>
    <div class="mi-table">
        <table class="table table-bordered table-dark" id="mi-table">
            <tr>
                <th>#</th>
                <th>Titulo</th>
            </tr>
            {{#books}}
            <tr>
                <td>#</td>
                <td><a href="/books/{{id}}">{{title}}</a></td>
            </tr>
            {{/books}}
        </table>
    </div>
    <a class="btn btn-raised btn-danger mi-btn" href="/books/add">Nuevo libro</a>
</main>

</body>

</html>