<!DOCTYPE html>
<html lang="es">

<head>
    <title>SpBoot - AddBook</title>
    <link rel="stylesheet" type="text/css" href="/css/new_book.css">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () {
        $('body').bootstrapMaterialDesign();
    });</script>
</head>
<body>

<header class="mi-header">
    <h1>Tecnicas de Servicios de Internet</h1>
</header>

<main>
    <form class="mi-form">
        <div class="form-group">
            <label for="bookTittle" class="bmd-label-floating">Titulo</label>
            <input type="text" class="form-control" id="bookTittle" name="tittle">
            <span class="bmd-help">Titulo del libro</span>
        </div>
        <div class="form-group">
            <label for="bookSummary" class="bmd-label-floating">Resumen</label>
            <input type="text" class="form-control" id="bookSummary" name="summary">
            <span class="bmd-help">Resumen del libro</span>
        </div>
    </form>
</main>

</body>

</html>