<!DOCTYPE html>
<html lang="es">

<head>
    <title>SpBoot - AddBook</title>
    <link rel="stylesheet" type="text/css" href="/css/new_book.css">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () {
        $('body').bootstrapMaterialDesign();
    });</script>
</head>
<body>

<header class="mi-header">
    <h1>Tecnicas de Servicios de Internet</h1>
</header>

<main>
    {{#errors}}
    <p>{{field}}</p>
    {{/errors}}
    <form class="mi-form" method="post" action="/books/add" name="book">
        <div class="form-group">
            <label for="bookTitle" class="bmd-label-floating text-primary">Titulo</label>
            <input type="text" class="form-control" id="bookTitle" name="title">
            <span class="bmd-help">Titulo del libro</span>
        </div>
        <div class="form-group">
            <label for="bookSummary" class="bmd-label-floating text-primary">Resumen</label>
            <textarea class="form-control" id="bookSummary" rows="5" name="summary"></textarea>
            <span class="bmd-help">Resumen del libro</span>
        </div>
        <div class="form-group">
            <label for="bookAuthor" class="bmd-label-floating text-primary">Autor</label>
            <input type="text" class="form-control" id="bookAuthor" name="author">
            <span class="bmd-help">Autor del libro</span>
        </div>
        <div class="form-group">
            <label for="bookEditorial" class="bmd-label-floating text-primary">Editorial</label>
            <input type="text" class="form-control" id="bookEditorial" name="editorial">
            <span class="bmd-help">Editorial del libro</span>
        </div>
        <div class="form-group">
            <label for="bookPublishYear" class="bmd-label-floating text-primary">Año de publicacion</label>
            <input type="number" class="form-control" id="bookPublishYear" name="publishYear">
            <span class="bmd-help">Año de publicacion del libro</span>
        </div>
        <a href="/books" class="btn btn-raised btn-danger">Volver</a>
        <button type="submit" class="btn btn-primary btn-raised">Añadir</button>
    </form>
</main>

</body>

</html>